.clicky{
    cursor: pointer;
}

/*FLEX UTILS*/  
.flex-horizontal{
    display: flex;
    flex-direction: row;
}

.flex-vertical{
    display: flex;
    flex-direction: column;
}

.flex-item-center{
    margin: auto;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-flex-end{
    justify-content: flex-end;
}

/*TEXT UTILS*/
.white-text{
    color: #ffffff;
}

.white-text-bold{
    color: #ffffff;
    font-weight: bold;
}

.text-center{
    text-align: center; 
}
/*COLOR UTILS*/
.white-bg{
    background-color: #ffffff;
}