<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
    
    <filter>
        <filter-name>UserSessionFilter</filter-name>
        <filter-class>system.filters.UserSessionFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>UserSessionFilter</filter-name>
        <servlet-name>SystemController</servlet-name>
        <url-pattern>/system/system-log.jsp</url-pattern>
        <url-pattern>/system-home/home.jsp</url-pattern>
        <url-pattern>/system-inventory/inventory.jsp</url-pattern>
        <url-pattern>/system-pos/pos.jsp</url-pattern>
    </filter-mapping>
</web-app>
