body{
    margin: 0;
}

.item-row-button{
    border: none;
    width: 100%;
    color: #ffffff;
    padding: 5px 0px;
    margin: 2px 0px;
}

.update-button{
    background-color: #66cc00;
}

.update-button:hover, .delete-button:hover{
    cursor: pointer;
}

.delete-button{
    background-color: #ff0000;
}

#view-content{
    margin-left: 160px;
}

table{
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #a7a7a7;
}

td {
    padding: 10px;
}

th {
    background-color: #1c1b1b;
    color: #ffffff;
    padding: 5px;
}

#item-table tr:hover {
    background-color: #be2213;
    color: #ffffff;
    cursor: pointer;
}

.top-nav{
    width: 100%;
    background-color: #be2213;
    height: 25px;
}


.item-span{
    float: right;
    color: #7b8494;
    margin-right: 10px;
    padding-top: 5px;
}

.item-span:hover{
    cursor: pointer;
    color: #ffffff;
}

.form-modal-container{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.standard-header{
    background-color: #be2213;
    padding: 15px;
}

.standard-section{
    padding: 5px;
}

#add-item-form{
    width: 400px;
    margin: auto auto;
    background-color: #ffffff;
}

#update-item-form{
    width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
}

input[type=text], input[type=submit], input[type=button]
, .select-generic{
    width: 100%;
    box-sizing: border-box;
    padding: 8px 5px;
    margin: 10px 0px;
}

input[type=submit]:hover, input[type=button]:hover{
    cursor: pointer;
}

#add-form-content{
    padding: 10px;
    max-height: 500px;
    overflow: auto;
}

#update-form-content{
    padding: 10px;
    height: 580px;
    overflow: auto;
}

.form-header{
    padding: 10px;
    text-align: right;
    background-color: #be2213;
}

.close{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.close:hover{
    cursor: pointer;
    font-size: 25px;
}

#item-search-bar{
    margin-left: 160px;
    width: 88%;
}

.item-history-div{
    width: 80%;
    margin: 10px auto;
}

.item-history-tbody{
    background-color: #ffffff;
    text-align: center;
}

.item-archive-div{
    width: 80%;
    margin: 10px auto;
}

.item-archive-tbody{
    background-color: #ffffff;
    text-align: center;
}

div.scrollable-table{
    height: 450px;
    overflow: auto;
}

#brand-table, #category-table, #transaction-table{
    width: 100%;
}

#brand-table tr:hover, #category-table tr:hover, #transaction-table tr:hover{
    background-color: #be2213;
    color: #ffffff;
    cursor: pointer;
}

.item-brand-div, .item-category-div, .item-transaction-div{
    width: 25%;
    margin: 10px auto;
}

.item-brand-tbody, .item-category-tbody, .item-transaction-tbody{
    background-color: #ffffff;
}

.brand-modal-content, .category-modal-content, .transaction-modal-content{
    width: 270px;
    margin: auto;
    background-color: #ffffff;
}
